* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 16px;
}
header{
    height: 100vh;
}
:root {
    --praimary: #E65F78;
    --light: #fff;
    --gray: #f8f9fa;
    --text: #6c757d;
    --dark-gray: #343a40;
    --dark: #000;
}

/* reusable */
.container {
    max-width: 1152px;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;

}

.text-center {
    text-align: center;
}

.text-align {
    text-align: center;
}

.titel-section h2 {
    font-size: 1.7rem;

}

.titel-section p {
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: 2px solid var(--light);
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.primary-btn {
    padding: 0.5rem 2rem;
    background: var(--praimary);
    border-radius: 9px;
    color: var(--light);
    font-size: 1.1rem;
    transition: all .3s;
}

.primary-btn:hover {
    background-color: transparent;
    color: var(--praimary);
    border: 2px solid var(--praimary);

}

.serviceSection {
    background-color: #F2F2F2;
}

/*end reusable */

/* start hero section */
header {
    background: var(--dark);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center center;
}

img.branding {
    padding: 12px;
    width: 120px;
}

header .main-nav {
    float: right;
    margin-top: 1.5rem;
    /* position: fixed; */


}

header .main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 2rem;
}

.main-nav li:first-child {
    margin: 0;
}

.main-nav li a {
    color: var(--light);


}

.main-nav li.active a {
    color: var(--praimary);
}

.main-nav li a:hover {
    color: var(--praimary);
}

.main-nav li a:link,
.main-nav li a:visited {
    font-size: 1.2rem;
    text-decoration: none;
    transition: 1s;
}

header .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--light);
}

.hero h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

button.btn.secondery-Btn {
    background: transparent;
    color: var(--light);
}

.scroll-down {
    position: absolute;
    bottom: 10vh;
    text-align: center;
    width: 100%;
}

.scroll-down i {
    position: relative;
    height: 50px;
    width: 30px;
    border-radius: 25px;
    border: 2px solid var(--light);
    display: inline-block;
    -webkit-animation: bounce 2s alternate-reverse;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    from {
        top: 40px;
    }

    to {
        top: 0px;
    }
}

.scroll-down i::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 3px;
    background-color: var(--light);
    top: 22px;
    left: 11px;
    border-radius: 5px;
}

/* end hero section */

/* start about section */
aboutsection .container {
    padding: 8rem 0;
    align-items: center;
}

.aboutsection img.about-me {
    height: 400px;
    /* margin-left: 6.5rem;
          border: 4px solid rgb(190, 184, 184); */
}

.img-thumbnail {
    border: 2px solid #BBBBBB;
    padding: 2px;
}

.aboutsection .container .details {
    padding: 2.5rem;
}

.details h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.details h4 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.details p {
    text-align: justify;
    margin-bottom: 1rem;

}

.details span {
    color: var(--praimary);
}

.aboutsection .social-icon a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.5rem;

}

.aboutsection .social-icon a i::before {
    height: 25px;
    width: 25px;
    border: 2px solid var(--dark);
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 0.8rem;
    transition: all .3s;
}

.aboutsection .social-icon a:hover i::before {
    border-color: var(--praimary);
    color: var(--praimary);
    transform: rotate(360deg);
}

/*  end about section */



/*  start service section */



.serviceSection .card-wraper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.serviceSection .card-wraper .card {
    border: 1px solid #BABBBD;
    background-color: var(--light);
    padding: 2rem 0.7rem;
}

.serviceSection .card-wraper .card-icon i {
    font-size: 2rem;
    color: var(--praimary);
    margin-bottom: 1rem;
}

.serviceSection .card-wraper .card-icon h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.serviceSection .card-wraper .card-border {
    height: 2px;
    width: 40px;
    background-color: var(--praimary);
    margin: 10px auto;
    transition: all .3s linear;
}

.serviceSection .card-wraper .card:hover .card-border {
    width: 70px;
}

/*  end service section */


/* start hire section */

.hire-me-section h2 {
    font-weight: 600;
    margin-bottom: 1.5rem;
}

/*  end hire section */

/* start clint section */

.clint .slides img {
    border-radius: 50%;
    margin-bottom: 2rem;

}

.clint .clint-details h2 {
    margin-bottom: 1rem;
}

.clint .clint-details p {
    font-size: 1rem;
    color: var(--text);

}

.clint .slides p {
    font-style: italic;
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 2rem;
}

.clint .slides h4 {
    color: var(--text);
}

.clint .slides h4 span {
    color: var(--dark);
}

/* end clint section */

/* start protfolio section */

.protfolio-section .protfolio-details h2 {
    font-weight: 600;
    margin-bottom: 1rem;


}

.protfolio-section .protfolio-details p {
    margin-bottom: 4rem;
}

.protfolio-section .protfolio-tab ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.protfolio-section .protfolio-tab ul li {
    list-style: none;
    padding: 0.5rem 1rem;
    border: 1px solid #DDDCE1;
    display: inline-block;
    margin-right: 1rem;
    border-radius: 25px;
    transition: all .3s;
    margin-bottom: 3rem;

}

.protfolio-section .protfolio-tab ul li:first-child {
    background-color: var(--praimary);
    color: #f2f2f2;
}

.protfolio-section .protfolio-tab ul li:hover {
    background-color: var(--praimary);
    color: #f2f2f2;

}

.protfolio-section .letest-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;

}

.protfolio-section .letest-work img {
    width: 100%;
    height: 100%;
}

.protfolio-section .letest-work .letest-image {
    position: relative;
}

.protfolio-section .letest-work .letest-image {
    position: relative;
    overflow: hidden;
}

.protfolio-section .letest-work .letest-overly {
    position: absolute;

    color: #DDDCE1;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    transition: all .3s;
}

.protfolio-section .letest-work .letest-overly::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: 0.7;
    left: 0;
    top: 0;
    z-index: -1;
}

.protfolio-section .letest-work .letest-overly h3 {
    color: var(--light);
}

.protfolio-section .letest-work .letest-image:hover .letest-overly {
    top: 0;
}

/* end protfolio section */

/* satrt blog section */
.blog {
    width: 100%;
}

.blog .protfolio-details {
    margin-bottom: 5rem;
}

.blog .blogcard {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /*
    padding: 60px 90px ;    
      */

}

.blog .blogcard .single-card {
    /* margin: 0 0 20px; */
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.single-card {
    background-color: #fff;
}

.blog .blogcard .single-card img {
    width: 100%;
    border-radius: 10px;
}

.blog .blogcard .single-card h3 {
    margin: 10px 0;
    padding: 0;
    font-size: 18px;
}
.blog .blogcard .single-card h4{
    font-size: 1rem;
    margin-bottom: 0.7rem;
}
.blog .blogcard .single-card span{
    color: var(--praimary);
   
}

.blog .blogcard .single-card p {
    margin: 0;
    padding: 0 0 10px;
    font-size: 14px;
}

.blog .blogcard .single-card a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

/* end blog section */

/* start contact section */
.contactUs .protfolio-details{
    margin-bottom: 4rem;
}
.contactUs .contact-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contactUs .contact-icon a{
    text-decoration: none;
}
.contactUs .contact-icon .single-icon {
    text-align: center;
    margin-bottom: 3rem;
}
.contactUs .contact-icon .single-icon i{
    font-size: 1.8rem;
    color: var(--praimary);
}
.contactUs .contact-icon .single-icon h2{
    font-size: 1.3rem;
}
.contactUs .contact-icon .single-icon p{
    font-size: 0.8rem;
    color: var(--text);
}
.inputSection {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.contactUs .YourName{
    height: 2rem;
}
.contactUs .yourSub{
    width: 206%;
    height: 2rem;
}
.contactUs .yourMsg{
    width: 206%;
    height: 100px;
    margin-bottom: 2rem;
}
/* last section */
.last-container {
    width: 100px;
    margin-bottom: 0;


}
.last .last-container{
    width: 1349px;
    height: 150px;
    background-color: #343A40;
}
.last .last-container .icon{
    text-align: center;
    text-decoration: none;
    
}
.last .last-container .icon i{
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    border-radius: 50%;
    color: #6C757E;
}
.last-container p{
    text-align: center;
}


/* end contact section */
